<mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="warning">{{ warning }}</mat-error><br />
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User Name" name="username" [(ngModel)]="user.userName" required autofocus>
          <mat-error>Please provide a valid user name</mat-error>
        </mat-form-field><br />
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" name="password" password="password" [(ngModel)]="user.password" required>
          <mat-error>Please provide a valid password</mat-error>
        </mat-form-field><br />
        <button mat-raised-button color="accent" type="submit" [disabled]="loading">
          <mat-icon>login</mat-icon>
          <span *ngIf="!loading">&nbsp;&nbsp;&nbsp;Login</span>
          <span *ngIf="loading">&nbsp;&nbsp;&nbsp;Processing Request</span>
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="../register">
          <mat-icon>account_box</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Register</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
